{% extends 'SoilNotificationBundle:new-idea:default.ru.html.twig' %}

{% block head %}
    <h1>5 вещей, которые
        нужно знать автору идеи</h1>
{% endblock %}

{% block forum %}
{% endblock %}

{% block advice_head %}
    <p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
        Конечно, на платформе обитают небезразличные люди, которые готовы помочь вам советом или даже присоединиться к реализации идеи. Однако основную движущую силу, которая способна реализовать любую идею без денежных вливаний - составляют люди. Очень важно достучаться до тех, кому важна реализация вашей идеи.
        Мы подготовили несколько универсальных рекомендаций по продвижению ваших идей:
    </p>
{% endblock %}

{% block director_recomendations %}
{% endblock %}

{% block the_same_example %}
{% endblock %}

{% block smi_ducks %}
{% endblock %}


{% block community_header %}
    <p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
        <font size="3" style="font-size: 12pt"><b>5. Вливайтесь в сообщество!</b></font></p>
{% endblock %}



{% block regards %}
    <p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
        С уважением и старанием для вас,
    </p><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
    команда платформы</p>

{% endblock %}