<h1>5 вещей, которые нужно знать автору идеи</h1>

<p>
    Добрый день!
</p>

<p>
    Вы получили это письмо, поскольку добавили свою идею в Инкубатор для участия в конкурсе #РазамМiнск. Время от времени мы будем рассказывать о конкурсе и делиться полезными советами. Мы подготовили для вас 5 вещей, которые нужно знать каждому автору идеи.
</p>

<h2>1. Все идеи участвуют в конкурсе #РазамМiнск!</h2>
<p>
    Все идеи, которые направлены на улучшение Минска и соответствуют
    <a href="http://www.talaka.by/RazamMinsk2015">правилам конкурса</a>, могут пройти во второй тур. Для этого нужно всего-то собрать 25 отметок “это важно” и иметь минимум 2-х человек в команде (включая автора). 27 июля будут подведены итоги сбора идей, а 28 июля на Onliner.by выйдет материал про лучшие идеи.
</p>


<h2>2. Новые функции в Идеях</h2>
<p>
    Мы доработали функционал <a href="http://talaka.by/ideas">Инкубатора идей</a>. Теперь можно редактировать ваши идеи (кнопка редактирования находится на странице вашей идеи слева от кнопки “создать проект”; если вы её не видите, то попробуйте почистить кеш в браузере). Пользуйтесь этой функцией аккуратно – она сделана для доработки идеи в соответствии с подсказками сообщества. Если в итоге вы придумали кардинально другое решение заявленной проблемы, то лучше создать новую идею.
</p>
<p>
    Если у вас есть замечания и предложения относительно функционала Инкубатора идей, то они принимаются на
    <a href="http://www.talaka.by/forum">форуме Талаки</a>.
</p>


<h2>3. Советы тем, кто настроен победить в конкурсе</h2>
<p>
    Мы хотим видеть в конкурсе больше хороших идей вместе с сообществами людей, готовыми их воплощать. Мы уже просмотрели многие из заявленных идей и подготовили несколько универсальных рекомендаций по их улучшению:
    <ul>
        <li>
            Как можно точнее опишите ключевые поля идеи – краткое описание идеи (поле “коротко опишите, что предлагаете сделать”) и краткое описание проблемы (поле “сформулируйте проблему”). Именно благодаря им вы можете вовлекать небезразличных людей.
            <a href="http://www.talaka.by/ideas/47">Плохой пример</a>.
        </li>
        <li>
            Дополните подробное описание фотографиями проблемных мест города, которые вы хотите улучшить.
            <a href="http://www.talaka.by/ideas/20">Хороший пример</a>.
        </li>
        <li>
            Пригласите своих друзей и знакомых поддержать вашу идею. Возможно, для кого-то из них реально важно решение обозначенной проблемы. Используйте для приглашения не только ленту новостей, но и личные сообщения, которые гораздо эффективнее. Найдите партнеров.
            <a href="https://vk.com/wall-45882862_206">Отличный пример</a>.
        </li>
        <li>
            Отвечайте на комментарии. Это отличная возможность не только доработать идею и учесть узкие места, но и вовлечь людей.
            <a href="http://www.talaka.by/ideas/21">Неплохой пример</a>.
        </li>
        <li>
            Объединяйтесь. Уже сейчас в Инкубаторе есть некоторое количество похожих идей. Если вы найдете общий язык и сойдетесь в образе будущего проекта, то объединившись, привлечете в команду больше участников-реализаторов и повысите вероятность успеха вашего проекта. Помните, что побороться за приз смогут только реализованные идеи, а не просто сформулированные.
            Пример похожих идей: <a href="http://www.talaka.by/ideas/86">вот</a> и <a href="http://www.talaka.by/ideas/95">вот</a>.
        </li>

    </ul>
</p>

<h2>4. Мастер-класс 23 июля – первая возможность попасть на Onliner.by</h2>
<p>
    В рамках реалити-конкурса Onliner.by будет еженедельно освещать ваш прогресс. Во время мастер-класса
    <a href="http://afisha.talaka.by/#!/e/razamminsk2015">"Как придумать крутую идею для города и собрать еди­но­мы­шле­н­ни­ков?"</a>
    журналисты Onliner.by выберут несколько интересных идей для своего первого репортажа.
</p>

<h2>
    5. О призах
</h2>
<p>
    Отвечаем на самые популярные вопросы:
    <ul>
        <li>
            В розыгрыше участвуют не просто идеи, а реализованные проекты! Соответственно призовой фонд выдается не на реализацию, а в руки победителю и тратить его он может на свое усмотрение.
        </li>
        <li>
            Призовые номинации присуждаются независимо. То есть один проект может победить в нескольких номинациях.
        </li>
        <li>
            Спецноминация “Социальный предприниматель” от Talaka.by: мы выберем самый перспективный проект с точки зрения его развития в полноценное социальное предприятие. Команда Talaka.by возьмет менторство над таким проектом.
        </li>
        <li>
            “Детский город”: компания velcom выберет один проект, который направлен на улучшение жизни детей в городе, а также вовлекает их в реализацию проекта.
        </li>
    </ul>

</p>

<p>
    С уважением и старанием для вас, <br />
    команда платформы Talaka.by
</p>