<h1>5 вещей, которые
нужно знать автору идеи на Talaka.by</h1>
<p align="center" style="text-indent: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
Добрый день!</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
    Вы получили это письмо, поскольку добавили свою идею в Инкубатор. Мы подготовили для вас 5 вещей, которые нужно знать каждому автору идеи, который желает, чтобы из неё получилось что-нибудь хорошее.
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b>1. Ваши идеи способны менять реальность</b></font></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
    Привлекайте заинтересованных людей к обсуждению вашей идеи,
    собирайте сторонников и реализуйте её!
    Даже не реализованные идеи становятся достоянием сообщества и могут использоваться в каких-то реальных проектах,
    или же служить “креативной пищей” для рождения других, ещё более классных идей.
</p>

<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b>2. Полезный
функционал в Идеях</b></font></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<b>Вы можете редактировать свои идеи.</b>
Пользуйтесь этой функцией аккуратно –
она сделана для доработки идеи в
соответствии с подсказками сообщества.
Если в итоге вы придумали кардинально
другое решение заявленной проблемы, то
лучше создать новую идею.</p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<b>Ежедневная сводка комментариев.</b>
Раз в день пользователи будут получать
сводку в которой отражены все комментарии
под их идеей, под “важными” для них
идеями и ответы на свои комментарии.
Таким образом авторы идей получают
канал связи со своими сторонниками -
публикация комментария с важной
информацией приведет к уведомлению сторонников через емэйл.</p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
Если у вас есть замечания и предложения
относительно функционала Инкубатора
идей, то они принимаются на <font color="#1155cc"><u><a href="http://www.talaka.by/forum">форуме</a><a href="http://www.talaka.by/forum">
</a><a href="http://www.talaka.by/forum">Талаки</a></u></font>.</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b>3. Советы по продвижению ваших идей</b></font></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
    Конечно, на платформе Talaka.by обитают небезразличные люди, которые готовы помочь вам советом или даже присоединиться к реализации идеи. Однако основную движущую силу, которая способна реализовать любую идею без денежных вливаний - составляют люди. Очень важно достучаться до тех, кому важна реализация вашей идеи.
    Мы подготовили несколько универсальных рекомендаций по продвижению ваших идей:
</p>
    <ul>
	<li><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
	Как можно точнее опишите ключевые поля
	идеи – краткое описание идеи (поле
	“коротко опишите, что предлагаете
	сделать”) позволит привлечь людей и заставит раскрыть идею, а  краткое описание проблемы
	(поле “сформулируйте проблему”) поможет узнать свою локальную проблему. Именно
	благодаря им вы можете вовлекать
	небезразличных людей.</p>
    </li>
	<li><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
                Дополните подробное описание фотографиями или видео проблемных мест, которые вы хотите улучшить.
        </p>
    </li>
	<li>
            <p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
                Собирайте не “лайки”, а реальных сторонников! Пригласите своих друзей и знакомых поддержать вашу идею. Возможно, для кого-то из них реально важно решение обозначенной проблемы.
                Рекомендации от нашего креативного директора на форуме,
                <font color="#1155cc">
                    <u>
                        <a href="http://www.talaka.by/forum/viewtopic.php?id=20">
                            как собирать сторонников вашей идеи (дополняются).
                        </a>
                    </u>
                </font>
            </p>
	</li>
	<li><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
	Отвечайте на комментарии. Это отличная
	возможность не только доработать идею
	и учесть узкие места, но и вовлечь людей.
	</p></li>

	<li><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
	Объединяйтесь. Уже сейчас в Инкубаторе
	есть некоторое количество похожих
	идей. Если вы найдете общий язык и
	сойдетесь в образе будущего проекта,
	то объединившись, привлечете в команду
	больше участников-реализаторов и
	повысите вероятность успеха вашего
	проекта. Пример
	похожих идей: <a href="http://www.talaka.by/ideas/86"><font color="#1155cc"><u>вот</u></font></a>
	и <a href="http://www.talaka.by/ideas/95"><font color="#1155cc"><u>вот</u></font></a>.</p>
    </ul>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b>4. Сделайте первый шаг и получите поддержку СМИ!</b></font></p>
<p align="left" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; widows: 2; orphans: 2; page-break-before: auto; page-break-after: auto">


    Как только вы переходите от обсуждения идеи в Интернет к первым шагам по её воплощению, вы имеете возможность привлечь внимание СМИ!
    Так, например, сразу несколько СМИ написали о субботнике по очистке небольшого водоема, который проходил в рамках реализации идеи
    <a href="http://www.talaka.by/ideas/20">“Спасение уток”</a>
    (ссылки в комментариях). С таким стартовым потенциалом вы легко перейдете к следующей фазе реализации - оформлению полноценного проекта и сбору средств методом краудфандинга (в случае необходимости).

</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<font size="3" style="font-size: 12pt"><b>5. Вливайтесь в сообщество Талаки!</b></font></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
    Не только собирайте советы и поддержку от сообщества, но и делитесь своими компетенциями. Благодаря кооперации выигрывают все авторы идей! В результате каждый не только сможет реализовать свою идею, но и создать новые совместные проекты. На платформе уже есть несколько проектов родившихся как результат синергии сразу нескольких авторов.
</p>

<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
<br>
</p>
<p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
С уважением и старанием для вас,
</p><p style="margin-bottom: 0cm; line-height: 115%; page-break-before: auto; page-break-after: auto">
команда платформы Talaka.by</p>